<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h3>
        {{hero.name}} |
        <span>
          <strong>ID: </strong>
          {{hero._id}}
        </span>
        <button class="btn btn-sm btn-primary ml-2" (click)="goBack()">
          Back
        </button>
      </h3>

      <form [formGroup]="heroForm" (ngSubmit)="addHero()">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Role</label>
              <input type="text" class="form-control" formControlName="role">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <textarea cols="30" rows="3" class="form-control" formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label>Active?</label>
          <input type="checkbox" formControlName="active" class="ml-2">
        </div>
      </form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <button class="btn btn-sm btn-primary mr-2" [class.btn-secondary]="!edit" (click)="toggleEditMode()">
        {{edit ? 'Edit' : 'Cancel'}}
        <span class="fas fa-pen ml-2" *ngIf="edit"></span>
      </button>
      <button *ngIf="!edit" class="btn btn-sm btn-success mr-2" (click)="updateHero(hero._id)">Save</button>
      <button class="btn btn-sm btn-danger" (click)="deleteHero(hero._id)">Delete</button>
    </div>
  </div>
</div>