<div class="container mt-3">
  <h3 class="h3 h3-responsive text-center">
    Add new Hero
  </h3>
  <div class="row justify-content-center mt-3">
    <div class="col-lg-10">
      <form [formGroup]="heroForm" (ngSubmit)="addHero()">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" formControlName="name">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label>Role</label>
              <input type="text" class="form-control" formControlName="role">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <textarea cols="30" rows="3" class="form-control" formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label>Active?</label>
          <input type="checkbox" formControlName="active" class="ml-2">
        </div>
        <button class="btn btn-sm btn-primary" type="submit" [disabled]="!heroForm.valid">Add</button>
      </form>
    </div>
  </div>
</div>