<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-8">
      <h2 class="text-center">My heroes</h2>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action m-2" *ngFor="let hero of heroes">
          <div class="row justify-content-center align-items-center">
            <div class="col-lg-10 col-md-10 col-6">
              <a routerLink="/detail/{{hero._id}}" class="nav-link">
                {{hero.name}}
              </a>
            </div>
            <!-- Likes -->
            <div class="col-lg-1 col-md-1 col-1">
              <div class="row text-center justify-content-center">
                <span class="badge badge-pill badge-light my-auto">{{hero.likes}}</span>
              </div>
              <div class="row justify-content-center mt-2">
                <button class="btn" (click)="likeHero(hero._id)">
                  <span class="fas fa-thumbs-up text-primary"></span>
                </button>
              </div>
            </div>
            <!-- ./Likes -->

            <!-- Dislikes -->
            <div class="col-lg-1 col-md-1 col-1">
              <div class="row text-center justify-content-center">
                <span class="badge badge-pill badge-light my-auto">{{hero.dislikes}}</span>
              </div>
              <div class="row justify-content-center mt-2">
                <button class="btn">
                  <span class="fas fa-thumbs-down text-danger"></span>
                </button>
              </div>
            </div>
            <!-- ./Dislikes -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>